<h1>Hi this is my HTML sample page</h1>
<h2>My Name is: {{ myname}}</h2>
<h2>My group is: {{ mygroup }}</h2>
<h2>My domain is: {{ pc }}.training.sdnog.sd</h2>
<h3>date: {{ ansible_date_time.date }}</h3>
<h3>This Html page is run under "{{ ansible_os_family }}" with IP: {{inventory_hostname}}</h3>